<head>
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="header">
    <h1>About Us</h1>
</div>
<div class="small-container">
    <div class="row">
        <div class="col5">
            <h1>VISION</h1>
            <i class="fa fa-quote-left"></i>
            <p>The ideology of our vision is to continue to apply and set the highest standards of service quality and
                in that way justify and uphold the reputation that we have among the guests, partners, competitors and
                the wider community. We use and constantly introduce environmentally friendly technologies and processes
                in order to remain in balance with nature and also meet the needs of contemporary society.</p>
        </div>
        <div class="col5">
            <h1>MISSION</h1>
            <i class="fa fa-quote-left"></i>
            <p>The mission of our Site is to provide outstanding lodging facilities and services to our guests. Our
                hotel focuses on individual business and leisure travel, as well as travel associated with groups
                meetings .we emphasise high quality standards in our rooms and food and beverage divisions. We provide a
                fair return on investment for our owners and recognise that this cannot be done without well trained ,
                motivated and enthusiastic employees</p>
        </div>
        <div class="col5">
            <img src="/img/logo2.jpg" alt="" width="30px">
            <p class="mission">Our mission is to continually raise the bar of the customer experience by using the
                internet and technology to help consumers find, discover and buy anything,</p>
            <img src="/img/logos.jpg" width="50px">
        </div>
    </div>
</div>
<footer>
    <p>Contact-Details: 123 456 789 &copy; Copyright 2020: Stay and Eat</p>
</footer>