<head>
    <link rel="stylesheet" href="/css/index.css">
    <style>
        body {
            background-image: url(/img/bg1.png);
        }

        @media (min-width:1440px)and (max-width:2560px) {
            body {
                height: 1000px;
            }
        }
    </style>
</head>
<main>
    <div class="container">
        <h1>Stay and Eat!</h1>
        <h3>Let's order a tiffin!</h3>
        <a href="/searchPage">Click Here to Search for Tiffin Services!</a>
    </div>
</main>
<%- include('partials/footer'); %>